{% extends 'base.html' %}

{% block title %}Home - Booking System{% endblock %}

{% block header %}Welcome to the Booking System{% endblock %}

{% block content %}
    <h2>Make Your Booking Today</h2>
    <form method="POST" action="{{ url_for('book_appointment') }}">
        {{ form.hidden_tag() }}
        <label for="name">Name:</label>
        {{ form.name(id='name') }}
        <br>
        <label for="date">Date:</label>
        {{ form.date(id='date') }}
        <br>
        {{ form.submit() }}
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-message">{{ messages[0] }}</div>
        {% endif %}
    {% endwith %}
{% endblock %}
